<% if !@item[:hide_breadcrumb] %>
	<%= globus_breadcrumb_for(@item.identifier) %>
<% end %>

<% if item.identifier.start_with?("/transfer-api/docs") %>
	<h1><%= @item[:title] %> <small><%= @item[:subtitle] %></small></h1>
	<%= globus_build_menu('transfer_menu') %>
<% elsif item.identifier.start_with?("/toolkit/") %>
	<h1><%= @item[:title] %></h1>
	<%= globus_build_menu('toolkit_menu') %>
<% else %>
	<h1><%= @item[:title] %></h1>
<% end %>