<% if item.identifier.start_with?("/docs/transfer-api") %>
	<h1><%= @item[:title] %> <small><%= @item[:subtitle] %></small></h1>
	<ul class="nav nav">
		<% nav_items = [
			{ title: "Reference", href: "/docs/transfer-api/"},
			{ title: "Tutorials", href: "#"},
			{ title: "Libraries", href: "#"},
			{ title: "Support", href: "#"},
		]	%>
		<% nav_items.each do |nav_item| 
			# item = @items.find { |i| i.identifier == nav_item[:href] }
			%>
		<li class="<%= 'active' if nav_item[:href] == @item.identifier %>">
			<%= link_to nav_item[:title], nav_item[:href] %>
		</li>
		<% end %>
	</ul>
<% else %>
	<h1><%= @item[:title] %></h1>
<% end %>